body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: brown;
  display: flex;
  justify-content: center;
  margin: 20px;
  text-decoration: none;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.expe{
  text-align: center;
}

.option{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.expense{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.price{
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
.add{
  margin: px;
  padding: 10px 20px;
  border-radius: 5px;
}
.show{
  background-color:grey;
  list-style-type: none;
  text-align: center;
  border-radius: 10px;
}

.delete{
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.total{
  background-color: aliceblue
  ;
  border-radius: 8px;
  
  display: flex;
  justify-content: center;
}

